<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mygdx.game"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="@string/app_name"
        android:appCategory="game"
        android:theme="@style/GdxTheme"
        android:usesCleartextTraffic="true">

        <!-- Launcher now locked to portrait by default -->
        <activity
            android:name="com.mygdx.game.android.AndroidLauncher"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- TutorialActivity has no intent-filter, mark exported="false" for clarity -->
        <activity
            android:name=".android.TutorialActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|screenSize"/>
    </application>
</manifest>
